{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Preview your comment" %}{% endblock %}

{% block path %}

    {% if form.errors %}
        <h1>{% blocktrans count form.errors|length as counter %}Please correct the error below{% plural %}Please correct the errors below{% endblocktrans %}</h1>
    {% else %}
        <h1>{% trans "Preview your comment" %}</h1>
    {% endif %}
    
{% endblock path %}


{% block content %}

  {% load comments %}

  <div class="section">
      <div class="column500">
            <div class="content">
                <blockquote>{{ comment|linebreaks }}</blockquote>        
            </div>        
        </div>
        <br style="clear: both;" />
    </div>
  
    <div class="section">
        <div class="column500" id="preview-comment-form">
            <div class="content">
                <form action="{% comment_form_target %}" method="post">
                    
                    {% if next %}
                        <input type="hidden" name="next" value="{{ next }}" />
                    {% else %}
                        <input type="hidden" name="next" value="{{ comment.get_absolute_url }}" />
                    {% endif %}
                    
                    <p>
                        <input type="submit" name="submit" class="submit-post" value="{% trans "Post your comment" %}" id="submit" /> 
                        {% trans "or make changes" %}:
                    </p>
                
                    {% for field in form %}
                        {% if field.is_hidden %}
                            <p>{{ field }}</p>
                        {% else %}
                            {% if field.errors %}{{ field.errors }}{% endif %}
                            {% ifnotequal field.name "title" %}
                                <p
                                    {% if field.errors %} class="error"{% endif %}
                                    {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
                                    {{ field.label_tag }} {{ field }}
                                </p>
                            {% endifnotequal %}
                        {% endif %}
                    {% endfor %}
                    <p class="submit">
                        <input type="submit" name="submit" class="submit-post" value="{% trans "Post" %}" />
                        <input type="submit" name="preview" class="submit-preview" value="{% trans "Preview" %}" />
                    </p>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
