{% load comments %}
{% load threadedcomments_tags %}
{% load markup %}
{% load url_utils %}

<div id='add-comment'>
    <div class='comment-on'>
        You are commenting on: 
        <blockquote>
            {{ comment_on|safe|truncatewords_html:20}}
        </blockquote>
    </div>
    <div class='comment-form'>
        <form action="{% comment_form_target %}" method="post">{% csrf_token %}
            <input type="hidden" name="next" value="{{ comment_target.get_absolute_url }}" />
            {{ comment_form.as_p }}
            <p>
                <input type="submit" name="preview" class="submit-preview" value="Preview" />
                <input type="submit" name="submit" class="submit-post" value="Post" />
            </p>
        </form>
    </div>
</div>
