{% extends "base.html" %}
{% load chunks%}

{% block path %}<h1>Bestel/</h1>{% endblock %}

{% block content %}
<div id="404">
    <div class="">
        <div class="content column750">
            <p>{% chunk "order-nl" %}</p>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
            <script type="text/javascript" src="https://webforms.aboportal.nl/Form/areas/frontend/scripts/iframeResizer.min.js"></script>
            <script> jQuery(function($){ $(".IframeSizeVer").iFrameResize([{ autoResize: true, enablePublicMethods: true, sizeWidth: false, log: true, interval: 36, checkOrigin: false }]); }) </script>
            <iframe id="AboIframe" class="IframeSizeVer" src="https://webforms.aboportal.nl/Form/abonneerbe/ny-ABON/nl-NL?stylesheet=/Form/Areas/FrontEnd/Content/CSSalt/ny.css&codekorting=hide" width="100%" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
</div>
{% endblock %}
