{% extends "base.html" %}

{% block logo %}{% endblock %}
{% block section %}showtime{% endblock %}
{% block content %}
<ul id="top-menu-subcategories">
    <li><a href="#">politics</a></li>
    <li><a href="#">powerplay</a></li>
    <li><a href="#">paperwork</a></li>
</ul>
<!-- Begining -->
<div class="section jump">
    <div class="outline-red column60">
        <div class="outline-green column-content">
            
            <div class="list-comment-date"><p>08</p><p>04</p><p>'09</p></div>
            <div class="list-entry">
                <h2><a href="{% url ny-article %}">Barthes in Monmartre</a></h2>
                <p>"In zijn stuk ‘Letteren vragen geld’ (DS 5.8.09) schrijft Geert Sels dat het in mijn ogen ‘geen goed idee (was) om het letterenbeleid toe te vertrouwen aan het Fonds voor de Letteren’. Niets is minder waar. Ik ben een absoluut voorstander van een autonoom Vlaams Fonds voor de Letteren (VFL).</p>
                <div class="article-metadata">
                    <p>By Lauren Grusenmeyer, June 2009, the 24st.</p>
                    <p>Published under: <a href="#" class="category-link">Politics</a>. Marked as <a href="#" class="tag-link">Essay</a>, <a href="#" class="tag-link">Essay</a>, <a href="#" class="tag-link">Essay</a>, <a href="#" class="tag-link">Essay</a></p>
                </div>
                <div class="list-comments-list">
                    <div class="list-comment">
                        <p>✎ Midden juli verschijnt reeds het tweede nummer van de papieren nY. De kwestie gaat ditmaal over noise. Daarbinnen en daarbuiten bijdragen over</p>
                        <p class="list-comment-metadata">by Alexandre Leray on <a href="#">"Politiek zonder papieren"</a></p>
                    </div>
                    <div class="list-comment">
                        <p>✎ Het nummer wordt ge•llustreerd met nieuw werk van beeldend kunstenaars John Gillis &amp; Aline Bouvy ...</p>
                        <p class="list-comment-metadata">by Alexandre Leray on <a href="#">"Politiek zonder papieren"</a></p>
                    </div>
                </div>
            </div>
            
            <div class="list-entry">
                <h2><a href="{% url ny-article %}">Conferende Conferenda</a></h2>
                <p>Proza en po‘zie van C.C. Krijgelmans, Jacques Roubaud, Elisabeth Tonnard en Nick J. Swarth. Het nummer wordt ge•llustreerd met nieuw werk van beeldend kunstenaars John Gillis &amp; Aline Bouvy (beeld bij dit bericht: 'Dag Hegel - Delacroix in Gnoak'). De lancering van nY-web is voorzien in het najaar.</p>
                <div class="article-metadata">
                    <p>By Lauren Grusenmeyer, June 2009, the 24st.</p>
                    <p>Published under: <a href="#" class="category-link">Politics</a>. Marked as <a href="#" class="tag-link">Essay</a>, <a href="#" class="tag-link">Essay</a>, <a href="#" class="tag-link">Essay</a>, <a href="#" class="tag-link">Essay</a></p>
                </div>
                <div class="list-comments-list">
                    <div class="list-comment">
                        <p>✎ Midden juli verschijnt reeds het tweede nummer van de papieren nY. De kwestie gaat ditmaal over noise. Daarbinnen en daarbuiten bijdragen over</p>
                        <p class="list-comment-metadata">by Alexandre Leray on <a href="#">"Politiek zonder papieren"</a></p>
                    </div>
                    <div class="list-comment">
                        <p>✎ Het nummer wordt ge•llustreerd met nieuw werk van beeldend kunstenaars John Gillis &amp; Aline Bouvy ...</p>
                        <p class="list-comment-metadata">by Alexandre Leray on <a href="#">"Politiek zonder papieren"</a></p>
                    </div>
                </div>
                
            </div>
            
            <div class="list-comment-date"><p>08</p><p>04</p><p>'09</p></div>
            <div class="list-entry">
                <h2><a href="{% url ny-article %}">Barthes in Monmartre</a></h2>
                <p>Midden juli verschijnt reeds het tweede nummer van de papieren nY. De kwestie gaat ditmaal over noise. Daarbinnen en daarbuiten bijdragen over o.m. mannen met machines, Jeroen Olyslaegers, Steven Hall, René Descartes, het KunstenfestivaldesArts 09, Ernst JŸnger vs. Walter Benjamin, Senseo, concurrentie en een stagnerend Vlaams letterenbeleid voor het 'middenveld'.</p>
                <div class="article-metadata">
                    <p>By Lauren Grusenmeyer, June 2009, the 24st.</p>
                    <p>Published under: <a href="#" class="category-link">Politics</a>. Marked as <a href="#" class="tag-link">Essay</a>, <a href="#" class="tag-link">Essay</a>, <a href="#" class="tag-link">Essay</a>, <a href="#" class="tag-link">Essay</a></p>
                </div>
                <div class="list-comments-list">
                    <div class="list-comment">
                        <p>✎ Midden juli verschijnt reeds het tweede nummer van de papieren nY. De kwestie gaat ditmaal over noise. Daarbinnen en daarbuiten bijdragen over</p>
                        <p class="list-comment-metadata">by Alexandre Leray on <a href="#">"Politiek zonder papieren"</a></p>
                    </div>
                    <div class="list-comment">
                        <p>✎ Het nummer wordt ge•llustreerd met nieuw werk van beeldend kunstenaars John Gillis &amp; Aline Bouvy ...</p>
                        <p class="list-comment-metadata">by Alexandre Leray on <a href="#">"Politiek zonder papieren"</a></p>
                    </div>
                </div>
            </div>
            <div class="list-entry">
                <h2><a href="{% url ny-article %}">Conferende Conferenda</a></h2>
                <p>"In zijn stuk ‘Letteren vragen geld’ (DS 5.8.09) schrijft Geert Sels dat het in mijn ogen ‘geen goed idee (was) om het letterenbeleid toe te vertrouwen aan het Fonds voor de Letteren’. Niets is minder waar. Ik ben een absoluut voorstander van een autonoom Vlaams Fonds voor de Letteren (VFL).</p>
                <div class="article-metadata">
                    <p>By Lauren Grusenmeyer, June 2009, the 24st.</p>
                    <p>Published under: <a href="#" class="category-link">Politics</a>. Marked as <a href="#" class="tag-link">Essay</a>, <a href="#" class="tag-link">Essay</a>, <a href="#" class="tag-link">Essay</a>, <a href="#" class="tag-link">Essay</a></p>
                </div>
                <div class="list-comments-list">
                    <div class="list-comment">
                        <p>✎ Midden juli verschijnt reeds het tweede nummer van de papieren nY. De kwestie gaat ditmaal over noise. Daarbinnen en daarbuiten bijdragen over</p>
                        <p class="list-comment-metadata">by Alexandre Leray on <a href="#">"Politiek zonder papieren"</a></p>
                    </div>
                    <div class="list-comment">
                        <p>✎ Het nummer wordt ge•llustreerd met nieuw werk van beeldend kunstenaars John Gillis &amp; Aline Bouvy ...</p>
                        <p class="list-comment-metadata">by Alexandre Leray on <a href="#">"Politiek zonder papieren"</a></p>
                    </div>
                </div>
            </div>            
        </div>
    </div>
    <ul id="top-menu-subcategories" style="font-size: 11px;">
        <p>Categories</p>
        <li style="display:block"><a href="#">politics</a></li>
        <li style="display:block"><a href="#">powerplay</a></li>
        <li style="display:block"><a href="#">paperwork</a></li>
    </ul>
    <ul id="top-menu-subcategories" style="font-size: 11px;">
        <p>Tags</p>
        <li><a href="#">politics</a></li>
        <li><a href="#">powerplay</a></li>
        <li><a href="#">paperwork</a></li>
        <li><a href="#">politics</a></li>
        <li><a href="#">powerplay</a></li>
        <li><a href="#">paperwork</a></li>
        <li><a href="#">politics</a></li>
        <li><a href="#">powerplay</a></li>
        <li><a href="#">paperwork</a></li>
        <li><a href="#">politics</a></li>
        <li><a href="#">powerplay</a></li>
        <li><a href="#">paperwork</a></li>
        <li><a href="#">politics</a></li>
        <li><a href="#">powerplay</a></li>
        <li><a href="#">paperwork</a></li>
    </ul>
    <div style="clear: both" />
</div>
<!-- end -->
<!-- beginning -->
<div class="section jump">
    <div class="outline-red column80">
            <div class="outline-red column50">
                <div class="outline-green column-content">

                    <div class="list-comment-date"><p>08</p><p>04</p><p>'09</p></div>
                    <div class="list-entry">
                        <h2><a href="{% url ny-article %}">Barthes in Monmartre</a></h2>
                        <p>"In zijn stuk ‘Letteren vragen geld’ (DS 5.8.09) schrijft Geert Sels dat het in mijn ogen ‘geen goed idee (was) om het letterenbeleid toe te vertrouwen aan het Fonds voor de Letteren’. Niets is minder waar. Ik ben een absoluut voorstander van een autonoom Vlaams Fonds voor de Letteren (VFL).</p>
                        <div class="article-metadata">
                            <p>By Lauren Grusenmeyer, June 2009, the 24st.</p>
                            <p>Published under: <a href="#" class="category-link">Politics</a>. Marked as <a href="#" class="tag-link">Essay</a>, <a href="#" class="tag-link">Essay</a>, <a href="#" class="tag-link">Essay</a>, <a href="#" class="tag-link">Essay</a></p>
                        </div>
                        {# <div class="list-comments-list"> #}
                        {#     <div class="list-comment"> #}
                        {#         <p>✎ Midden juli verschijnt reeds het tweede nummer van de papieren nY. De kwestie gaat ditmaal over noise. Daarbinnen en daarbuiten bijdragen over</p> #}
                        {#         <p class="list-comment-metadata">by Alexandre Leray on <a href="#">"Politiek zonder papieren"</a></p> #}
                        {#     </div> #}
                        {#     <div class="list-comment"> #}
                        {#         <p>✎ Het nummer wordt ge•llustreerd met nieuw werk van beeldend kunstenaars John Gillis &amp; Aline Bouvy ...</p> #}
                        {#         <p class="list-comment-metadata">by Alexandre Leray on <a href="#">"Politiek zonder papieren"</a></p> #}
                        {#     </div> #}
                        {# </div> #}
                    </div>
                </div>
                
            </div>
            
            <div class="outline-red column50">
                <div class="outline-green column-content">

                    <div class="list-comment-date"><p>08</p><p>04</p><p>'09</p></div>
                    <div class="list-entry">
                        <div class="list-comments-list" style="margin-left: 0">
                            <div class="list-comment">
                                <p>✎ Midden juli verschijnt reeds het tweede nummer van de papieren nY. De kwestie gaat ditmaal over noise. Daarbinnen en daarbuiten bijdragen over</p>
                                <p class="list-comment-metadata">by Alexandre Leray on <a href="#">"Politiek zonder papieren"</a></p>
                            </div>
                            <div class="list-comment">
                                <p>✎ Het nummer wordt ge•llustreerd met nieuw werk van beeldend kunstenaars John Gillis &amp; Aline Bouvy ...</p>
                                <p class="list-comment-metadata">by Alexandre Leray on <a href="#">"Politiek zonder papieren"</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
    </div>
    <div style="clear: both" />
</div>
<!-- end -->

    <div class="outline-red column40">
        <div class="outline-green column-content">
            
            <div class="list-comment-date"><p>08</p><p>04</p><p>'09</p></div>
            <div class="list-entry">
                <h2><a href="{% url ny-article %}">Barthes in Monmartre</a></h2>
                <p>"In zijn stuk ‘Letteren vragen geld’ (DS 5.8.09) schrijft Geert Sels dat het in mijn ogen ‘geen goed idee (was) om het letterenbeleid toe te vertrouwen aan het Fonds voor de Letteren’. Niets is minder waar. Ik ben een absoluut voorstander van een autonoom Vlaams Fonds voor de Letteren (VFL).</p>
                <div class="article-metadata">
                    <p>By Lauren Grusenmeyer, June 2009, the 24st.</p>
                    <p>Published under: <a href="#" class="category-link">Politics</a>. Marked as <a href="#" class="tag-link">Essay</a>, <a href="#" class="tag-link">Essay</a>, <a href="#" class="tag-link">Essay</a>, <a href="#" class="tag-link">Essay</a></p>
                </div>
                <div class="list-comments-list">
                    <div class="list-comment">
                        <p>✎ Midden juli verschijnt reeds het tweede nummer van de papieren nY. De kwestie gaat ditmaal over noise. Daarbinnen en daarbuiten bijdragen over</p>
                        <p class="list-comment-metadata">by Alexandre Leray on <a href="#">"Politiek zonder papieren"</a></p>
                    </div>
                    <div class="list-comment">
                        <p>✎ Het nummer wordt ge•llustreerd met nieuw werk van beeldend kunstenaars John Gillis &amp; Aline Bouvy ...</p>
                        <p class="list-comment-metadata">by Alexandre Leray on <a href="#">"Politiek zonder papieren"</a></p>
                    </div>
                </div>
            </div>
            
            <div class="list-entry">
                <h2><a href="{% url ny-article %}">Conferende Conferenda</a></h2>
                <p>Proza en po‘zie van C.C. Krijgelmans, Jacques Roubaud, Elisabeth Tonnard en Nick J. Swarth. Het nummer wordt ge•llustreerd met nieuw werk van beeldend kunstenaars John Gillis &amp; Aline Bouvy (beeld bij dit bericht: 'Dag Hegel - Delacroix in Gnoak'). De lancering van nY-web is voorzien in het najaar.</p>
                <div class="article-metadata">
                    <p>By Lauren Grusenmeyer, June 2009, the 24st.</p>
                    <p>Published under: <a href="#" class="category-link">Politics</a>. Marked as <a href="#" class="tag-link">Essay</a>, <a href="#" class="tag-link">Essay</a>, <a href="#" class="tag-link">Essay</a>, <a href="#" class="tag-link">Essay</a></p>
                </div>
                <div class="list-comments-list">
                    <div class="list-comment">
                        <p>✎ Midden juli verschijnt reeds het tweede nummer van de papieren nY. De kwestie gaat ditmaal over noise. Daarbinnen en daarbuiten bijdragen over</p>
                        <p class="list-comment-metadata">by Alexandre Leray on <a href="#">"Politiek zonder papieren"</a></p>
                    </div>
                    <div class="list-comment">
                        <p>✎ Het nummer wordt ge•llustreerd met nieuw werk van beeldend kunstenaars John Gillis &amp; Aline Bouvy ...</p>
                        <p class="list-comment-metadata">by Alexandre Leray on <a href="#">"Politiek zonder papieren"</a></p>
                    </div>
                </div>
                
            </div>
            
            <div class="list-comment-date"><p>08</p><p>04</p><p>'09</p></div>
            <div class="list-entry">
                <h2><a href="{% url ny-article %}">Barthes in Monmartre</a></h2>
                <p>Midden juli verschijnt reeds het tweede nummer van de papieren nY. De kwestie gaat ditmaal over noise. Daarbinnen en daarbuiten bijdragen over o.m. mannen met machines, Jeroen Olyslaegers, Steven Hall, René Descartes, het KunstenfestivaldesArts 09, Ernst JŸnger vs. Walter Benjamin, Senseo, concurrentie en een stagnerend Vlaams letterenbeleid voor het 'middenveld'.</p>
                <div class="article-metadata">
                    <p>By Lauren Grusenmeyer, June 2009, the 24st.</p>
                    <p>Published under: <a href="#" class="category-link">Politics</a>. Marked as <a href="#" class="tag-link">Essay</a>, <a href="#" class="tag-link">Essay</a>, <a href="#" class="tag-link">Essay</a>, <a href="#" class="tag-link">Essay</a></p>
                </div>
                <div class="list-comments-list">
                    <div class="list-comment">
                        <p>✎ Midden juli verschijnt reeds het tweede nummer van de papieren nY. De kwestie gaat ditmaal over noise. Daarbinnen en daarbuiten bijdragen over</p>
                        <p class="list-comment-metadata">by Alexandre Leray on <a href="#">"Politiek zonder papieren"</a></p>
                    </div>
                    <div class="list-comment">
                        <p>✎ Het nummer wordt ge•llustreerd met nieuw werk van beeldend kunstenaars John Gillis &amp; Aline Bouvy ...</p>
                        <p class="list-comment-metadata">by Alexandre Leray on <a href="#">"Politiek zonder papieren"</a></p>
                    </div>
                </div>
            </div>
            <div class="list-entry">
                <h2><a href="{% url ny-article %}">Conferende Conferenda</a></h2>
                <p>"In zijn stuk ‘Letteren vragen geld’ (DS 5.8.09) schrijft Geert Sels dat het in mijn ogen ‘geen goed idee (was) om het letterenbeleid toe te vertrouwen aan het Fonds voor de Letteren’. Niets is minder waar. Ik ben een absoluut voorstander van een autonoom Vlaams Fonds voor de Letteren (VFL).</p>
                <div class="article-metadata">
                    <p>By Lauren Grusenmeyer, June 2009, the 24st.</p>
                    <p>Published under: <a href="#" class="category-link">Politics</a>. Marked as <a href="#" class="tag-link">Essay</a>, <a href="#" class="tag-link">Essay</a>, <a href="#" class="tag-link">Essay</a>, <a href="#" class="tag-link">Essay</a></p>
                </div>
                <div class="list-comments-list">
                    <div class="list-comment">
                        <p>✎ Midden juli verschijnt reeds het tweede nummer van de papieren nY. De kwestie gaat ditmaal over noise. Daarbinnen en daarbuiten bijdragen over</p>
                        <p class="list-comment-metadata">by Alexandre Leray on <a href="#">"Politiek zonder papieren"</a></p>
                    </div>
                    <div class="list-comment">
                        <p>✎ Het nummer wordt ge•llustreerd met nieuw werk van beeldend kunstenaars John Gillis &amp; Aline Bouvy ...</p>
                        <p class="list-comment-metadata">by Alexandre Leray on <a href="#">"Politiek zonder papieren"</a></p>
                    </div>
                </div>
            </div>            
        </div>
    </div>
    <div style="clear: both" />
</div>
<!-- end -->
<!-- begining -->
<div class="section jump">
    <div class="outline-red column60">
        
        <div class="outline-red column33">
            <div class="outline-green column-content">

                <div class="list-comment-date"><p>08</p><p>04</p><p>'09</p></div>
                <div class="list-entry">
                    <div class="article-metadata">
                        <p>By Lauren Grusenmeyer, June 2009, the 24st.</p>
                        <p>Published under: <a href="#" class="category-link">Politics</a>.</p>
                        <p>Marked as <a href="#" class="tag-link">Essay</a>, <a href="#" class="tag-link">Essay</a>, <a href="#" class="tag-link">Essay</a>, <a href="#" class="tag-link">Essay</a></p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="outline-red column66">
            <div class="outline-green column-content">

                <div class="list-entry">
                    <h2><a href="{% url ny-article %}">Barthes in Monmartre</a></h2>
                    <p>"In zijn stuk ‘Letteren vragen geld’ (DS 5.8.09) schrijft Geert Sels dat het in mijn ogen ‘geen goed idee (was) om het letterenbeleid toe te vertrouwen aan het Fonds voor de Letteren’. Niets is minder waar. Ik ben een absoluut voorstander van een autonoom Vlaams Fonds voor de Letteren (VFL).</p>
                    <div class="list-comments-list" style="margin-left: 0">
                        <div class="list-comment">
                            <p>✎ Midden juli verschijnt reeds het tweede nummer van de papieren nY. De kwestie gaat ditmaal over noise. Daarbinnen en daarbuiten bijdragen over</p>
                            <p class="list-comment-metadata">by Alexandre Leray on <a href="#">"Politiek zonder papieren"</a></p>
                        </div>
                        <div class="list-comment">
                            <p>✎ Het nummer wordt ge•llustreerd met nieuw werk van beeldend kunstenaars John Gillis &amp; Aline Bouvy ...</p>
                            <p class="list-comment-metadata">by Alexandre Leray on <a href="#">"Politiek zonder papieren"</a></p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
    <div style="clear: both" />
</div>
<!-- end -->
<!-- begining -->
<div class="section jump">
    <div class="outline-red column60">
        
        <div class="outline-red column33">
            <div class="outline-green column-content">

                <div class="list-comment-date"><p>08</p><p>04</p><p>'09</p></div>
                <div class="list-entry">
                    <div class="article-metadata">
                        <p>By Lauren Grusenmeyer, June 2009, the 24st.</p>
                        <p>Published under: <a href="#" class="category-link">Politics</a>.</p><p>Marked as <a href="#" class="tag-link">Essay</a>, <a href="#" class="tag-link">Essay</a>, <a href="#" class="tag-link">Essay</a>, <a href="#" class="tag-link">Essay</a></p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="outline-red column66">
            <div class="outline-green column-content">

                <div class="list-entry">
                    <h2><a href="{% url ny-article %}">Barthes in Monmartre</a></h2>
                    <p>"In zijn stuk ‘Letteren vragen geld’ (DS 5.8.09) schrijft Geert Sels dat het in mijn ogen ‘geen goed idee (was) om het letterenbeleid toe te vertrouwen aan het Fonds voor de Letteren’. Niets is minder waar. Ik ben een absoluut voorstander van een autonoom Vlaams Fonds voor de Letteren (VFL).</p>
                    <div class="list-comments-list" style="margin-left: 0">
                        <div class="list-comment">
                            <p>✎ Midden juli verschijnt reeds het tweede nummer van de papieren nY. De kwestie gaat ditmaal over noise. Daarbinnen en daarbuiten bijdragen over</p>
                            <p class="list-comment-metadata">by Alexandre Leray on <a href="#">"Politiek zonder papieren"</a></p>
                        </div>
                        <div class="list-comment">
                            <p>✎ Het nummer wordt ge•llustreerd met nieuw werk van beeldend kunstenaars John Gillis &amp; Aline Bouvy ...</p>
                            <p class="list-comment-metadata">by Alexandre Leray on <a href="#">"Politiek zonder papieren"</a></p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
    <div style="clear: both" />
</div>
<!-- end -->
<!-- begining -->
<div class="section jump">
    <div class="outline-red column60">
        
        <div class="outline-red column33">
            <div class="outline-green column-content">

                <div class="list-comment-date"><p>08</p><p>04</p><p>'09</p></div>
                <div class="list-entry">
                    <div class="article-metadata">
                        <p>By Lauren Grusenmeyer, June 2009, the 24st.</p>
                        <p>Published under: <a href="#" class="category-link">Politics</a>.</p><p>Marked as <a href="#" class="tag-link">Essay</a>, <a href="#" class="tag-link">Essay</a>, <a href="#" class="tag-link">Essay</a>, <a href="#" class="tag-link">Essay</a></p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="outline-red column66">
            <div class="outline-green column-content">

                <div class="list-entry">
                    <h2><a href="{% url ny-article %}">Barthes in Monmartre</a></h2>
                    <p>"In zijn stuk ‘Letteren vragen geld’ (DS 5.8.09) schrijft Geert Sels dat het in mijn ogen ‘geen goed idee (was) om het letterenbeleid toe te vertrouwen aan het Fonds voor de Letteren’. Niets is minder waar. Ik ben een absoluut voorstander van een autonoom Vlaams Fonds voor de Letteren (VFL).</p>
                    <div class="list-comments-list" style="margin-left: 0">
                        <div class="list-comment">
                            <p>✎ Midden juli verschijnt reeds het tweede nummer van de papieren nY. De kwestie gaat ditmaal over noise. Daarbinnen en daarbuiten bijdragen over</p>
                            <p class="list-comment-metadata">by Alexandre Leray on <a href="#">"Politiek zonder papieren"</a></p>
                        </div>
                        <div class="list-comment">
                            <p>✎ Het nummer wordt ge•llustreerd met nieuw werk van beeldend kunstenaars John Gillis &amp; Aline Bouvy ...</p>
                            <p class="list-comment-metadata">by Alexandre Leray on <a href="#">"Politiek zonder papieren"</a></p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
    <div style="clear: both" />
</div>
<!-- end -->
<!-- begining -->
<div class="section jump">
    <div class="outline-red column60">
        
        <div class="outline-red column33">
            <div class="outline-green column-content">

                <div class="list-comment-date"><p>08</p><p>04</p><p>'09</p></div>
                <div class="list-entry">
                    <h2><a href="{% url ny-article %}">Barthes in Monmartre</a></h2>
                    <div class="article-metadata">
                        <p>By Lauren Grusenmeyer, June 2009, the 24st.</p>
                        <p>Published under: <a href="#" class="category-link">Politics</a>.</p>
                        <p>Marked as <a href="#" class="tag-link">Essay</a>, <a href="#" class="tag-link">Essay</a>, <a href="#" class="tag-link">Essay</a>, <a href="#" class="tag-link">Essay</a></p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="outline-red column66">
            <div class="outline-green column-content">

                <div class="list-entry">
                    <p>"In zijn stuk ‘Letteren vragen geld’ (DS 5.8.09) schrijft Geert Sels dat het in mijn ogen ‘geen goed idee (was) om het letterenbeleid toe te vertrouwen aan het Fonds voor de Letteren’. Niets is minder waar. Ik ben een absoluut voorstander van een autonoom Vlaams Fonds voor de Letteren (VFL).</p>
                    <div class="list-comments-list" style="margin-left: 0">
                        <div class="list-comment">
                            <p>✎ Midden juli verschijnt reeds het tweede nummer van de papieren nY. De kwestie gaat ditmaal over noise. Daarbinnen en daarbuiten bijdragen over</p>
                            <p class="list-comment-metadata">by Alexandre Leray on <a href="#">"Politiek zonder papieren"</a></p>
                        </div>
                        <div class="list-comment">
                            <p>✎ Het nummer wordt ge•llustreerd met nieuw werk van beeldend kunstenaars John Gillis &amp; Aline Bouvy ...</p>
                            <p class="list-comment-metadata">by Alexandre Leray on <a href="#">"Politiek zonder papieren"</a></p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
    <div style="clear: both" />
</div>
<!-- end -->
<!-- begining -->
<div class="section jump">
    <div class="outline-red column60">
        
        <div class="outline-red column33">
            <div class="outline-green column-content">

                <div class="list-comment-date"><p>08</p><p>04</p><p>'09</p></div>
                <div class="list-entry">
                    <h2><a href="{% url ny-article %}">Barthes in Monmartre</a></h2>
                    <div class="article-metadata">
                        <p>By Lauren Grusenmeyer, June 2009, the 24st.</p>
                        <p>Published under: <a href="#" class="category-link">Politics</a>.</p>
                        <p>Marked as <a href="#" class="tag-link">Essay</a>, <a href="#" class="tag-link">Essay</a>, <a href="#" class="tag-link">Essay</a>, <a href="#" class="tag-link">Essay</a></p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="outline-red column66">
            <div class="outline-green column-content">

                <div class="list-entry">
                    <p>"In zijn stuk ‘Letteren vragen geld’ (DS 5.8.09) schrijft Geert Sels dat het in mijn ogen ‘geen goed idee (was) om het letterenbeleid toe te vertrouwen aan het Fonds voor de Letteren’. Niets is minder waar. Ik ben een absoluut voorstander van een autonoom Vlaams Fonds voor de Letteren (VFL).</p>
                    <div class="list-comments-list" style="margin-left: 0">
                        <div class="list-comment">
                            <p>✎ Midden juli verschijnt reeds het tweede nummer van de papieren nY. De kwestie gaat ditmaal over noise. Daarbinnen en daarbuiten bijdragen over</p>
                            <p class="list-comment-metadata">by Alexandre Leray on <a href="#">"Politiek zonder papieren"</a></p>
                        </div>
                        <div class="list-comment">
                            <p>✎ Het nummer wordt ge•llustreerd met nieuw werk van beeldend kunstenaars John Gillis &amp; Aline Bouvy ...</p>
                            <p class="list-comment-metadata">by Alexandre Leray on <a href="#">"Politiek zonder papieren"</a></p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
    <div style="clear: both" />
</div>
<!-- end -->




{% endblock content %}