{% load recurse %}
{% load markup %}
{% load utils %}

{% get_all_comments for text as all_comments_list %}

<div class="timeline-entry{% if not text.publish %} draft{% endif %}{% if text.future %} future{% endif %}{% if text.highlight %} highlighted{% endif %} text.identifier">
    
    {% if not text.publish %}<p class="draft admin">Deze tekst is in klad, en niet zichtbaar op de publiekssite. <a href="{% url admin:library_text_change text.id %}">Bewerken</a>.</p>{% endif %}
    {% if text.publish and text.future %}<p class="future admin">Deze tekst zal op {{ text.pub_date|date:'j/m/Y' }} zichtbaar worden op de publiekssite</p>{% endif %}
        <p class="article-title">
            <a href="{{ text.get_absolute_url }}"{% if text.highlight %} class="highlighted-text"{% endif %}>{{ text }}</a>
        </p>
    
    <div class="article-metadata">
        {% include "article-metadata.html" %}
    </div>
    
    {# {% if not show_on_list %} #}
        {% if text.description %}
            <p>{{ text.description }}</p>
        {% endif %}
    {# {% else %} #}
    {#     <p>{{ text.body|markdown|truncatewords_html:200 }}</p> #}
    {# {% endif %} #}
    
    <div class="article-comments">
        {% for c in all_comments_list|head:3 %}
            <p class="timeline-comment">✎ {{ c.comment|truncatewords:5 }} by {{ c.user_name }}</p>
        {% endfor %}
        {% if all_comments_list|length|isgreater:3 %}
            <p class="timeline-comment">And {{ all_comments_list|length|add:"-3" }} more…</p>
        {% endif %}
    </div>
</div>
