{% extends "admin/change_list.html" %}
{% load adminmedia admin_list i18n %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/changelists.css" />
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
    <script type="text/javascript" src="../../jsi18n/"></script>
  {% endif %}
  {{ media }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.3.2.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.7.2.custom.min.js"></script>
  <script type="text/javascript" charset="utf-8">
    jQuery(function($) {
        $('tbody:first').sortable({
            /*containment: 'parent',
            zindex: 10, */
            items: 'tr',
            handle: 'th',
            update: function(event, ui) {
                $("tr:odd").attr("class", "row1");
                $("tr:even").attr("class", "row2");
                ui.item.effect("pulsate", { times:2 }, 200);
                $(this).find('tr').each(function(i) {
                    // if ($(this).find('input[id$=name]').val()) {
                        $(this).find('input[id$=order]').val(i+1);
                    // }
                });
            }
        });
        $('tbody tr').css('cursor', 'move')
        $("th:nth-child(3)").hide()
        $("td:nth-child(3)").hide();
    });
  </script>
{% endblock %}
