/*
body { background-image: url("grid_17px.png"); background-position: 0 1px;}
*/

/** { -moz-box-sizing:  border-box; }*/
/*.outline-black   {  border: 1px solid black; }
.outline-red {  border: 1px solid red; }
.outline-blue {  border: 1px solid blue; }*/
/*.outline-green {  border: 1px solid lightgreen; height: 200px;}
table td { border: 1px solid grey; }
*/
